/* line 13, ../../../app/stylesheets/application.sass */
body {
  background-color: #99d8f5;
}

/* line 16, ../../../app/stylesheets/application.sass */
#container {
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
}

/* line 22, ../../../app/stylesheets/application.sass */
#header {
  margin-top: 20px;
  margin-bottom: 10px;
}
/* line 25, ../../../app/stylesheets/application.sass */
#header #logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header #logo {
  overflow-x: hidden;
}
/* line 27, ../../../app/stylesheets/application.sass */
#header #main_menu {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 510px;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header #main_menu {
  overflow-x: hidden;
}

/* line 30, ../../../app/stylesheets/application.sass */
#content {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-color: #f1cc38;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 39, ../../../app/stylesheets/application.sass */
#content h2 {
  text-shadow: #aaaaaa 1px 1px 1px;
}

/* line 42, ../../../app/stylesheets/application.sass */
#appunti_in_corso {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #appunti_in_corso {
  overflow-x: hidden;
}

/* line 45, ../../../app/stylesheets/application.sass */
#giro {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  margin-right: 0px;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #giro {
  overflow-x: hidden;
}

/* line 49, ../../../app/stylesheets/application.sass */
.block,
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/* line 53, ../../../app/stylesheets/application.sass */
.menu-604 {
  background-color: #f6891f;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}

/* line 57, ../../../app/stylesheets/application.sass */
.menu-484 {
  background-color: #5bcaeb;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}

/* line 61, ../../../app/stylesheets/application.sass */
.menu-483 {
  background-color: #3876be;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}

/* line 65, ../../../app/stylesheets/application.sass */
.menu-224 {
  background-color: #272973;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}

/* line 69, ../../../app/stylesheets/application.sass */
#navig ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 50px;
  padding: 5px;
}
/* line 73, ../../../app/stylesheets/application.sass */
#navig ul li.menu-484,
#navig ul li.menu-224 {
  margin-top: 15px;
}
/* line 76, ../../../app/stylesheets/application.sass */
#navig ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  margin-right: 10px;
  height: 19px;
  padding: 5px;
  text-align: center;
  width: 100px;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#navig ul li {
  *display: inline;
}
/* line 84, ../../../app/stylesheets/application.sass */
#navig ul li a {
  display: block;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

/* line 91, ../../../app/stylesheets/application.sass */
#block_navigator {
  background: #009ee6;
}
/* line 93, ../../../app/stylesheets/application.sass */
#block_navigator ul {
  list-style: none;
  margin: 10%;
  padding: 0px;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
#block_navigator ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 97, ../../../app/stylesheets/application.sass */
#block_navigator ul li {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  height: 19px;
  padding: 5px;
  margin-top: 5px;
  text-align: center;
}
/* line 103, ../../../app/stylesheets/application.sass */
#block_navigator ul li a {
  display: block;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

/* line 110, ../../../app/stylesheets/application.sass */
#usefull_links {
  margin-top: 30px;
}
/* line 112, ../../../app/stylesheets/application.sass */
#usefull_links ul {
  list-style: none;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
#usefull_links ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 114, ../../../app/stylesheets/application.sass */
#usefull_links ul li a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

/* line 119, ../../../app/stylesheets/application.sass */
#clear {
  clear: both;
}

/* line 124, ../../../app/stylesheets/application.sass */
#appunto {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: #f6891f 2px 2px 10px 0;
  -webkit-box-shadow: #f6891f 2px 2px 10px 0;
  -o-box-shadow: #f6891f 2px 2px 10px 0;
  box-shadow: #f6891f 2px 2px 10px 0;
  margin-top: 10px;
  padding-bottom: 5px;
  background-color: #ede565;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
/* line 134, ../../../app/stylesheets/application.sass */
#appunto a {
  color: #3876be;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
/* line 141, ../../../app/stylesheets/application.sass */
#appunto #a_note {
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -o-border-top-right-radius: 7px;
  -ms-border-top-right-radius: 7px;
  -khtml-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -o-border-bottom-right-radius: 7px;
  -ms-border-bottom-right-radius: 7px;
  -khtml-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
/* line 145, ../../../app/stylesheets/application.sass */
#appunto #a_note #a_recapiti {
  text-align: right;
}
/* line 147, ../../../app/stylesheets/application.sass */
#appunto #a_footer {
  margin-top: 10px;
  padding-top: 5px;
}
/* line 151, ../../../app/stylesheets/application.sass */
#appunto #status_image {
  display: inline;
  float: right;
  margin-right: -5px;
}
/* line 154, ../../../app/stylesheets/application.sass */
#appunto #a_check {
  display: inline;
  float: left;
  margin-right: 10px;
  margin-top: 8px;
  margin-left: -3px;
}
/* line 159, ../../../app/stylesheets/application.sass */
#appunto #a_edit_buttons {
  display: inline;
  float: left;
  margin-top: 8px;
}
/* line 162, ../../../app/stylesheets/application.sass */
#appunto #a_edit_buttons a.icon {
  opacity: 0.4;
}
/* line 164, ../../../app/stylesheets/application.sass */
#appunto #a_edit_buttons a.icon:hover {
  opacity: 1;
}
/* line 166, ../../../app/stylesheets/application.sass */
#appunto #a_timestamp {
  float: none;
  margin-right: 10px;
  text-align: right;
  margin-top: 8px;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#form_appunto label {
  font-weight: bold;
}
/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#form_appunto fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#form_appunto legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#form_appunto input.text, #form_appunto input.title, #form_appunto input[type=email], #form_appunto input[type=text], #form_appunto input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#form_appunto input.title {
  font-size: 1.5em;
}
/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#form_appunto input[type=checkbox], #form_appunto input.checkbox, #form_appunto input[type=radio], #form_appunto input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#form_appunto textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 34, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#form_appunto select {
  margin: 0.5em 0;
}
/* line 175, ../../../app/stylesheets/application.sass */
#form_appunto label {
  color: white;
}

/* line 178, ../../../app/stylesheets/application.sass */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 181, ../../../app/stylesheets/application.sass */
div.field label {
  float: left;
  width: 120px;
  margin: 0 0 5px 0;
}
