.appunto_righe_list
  %table
    - for a in appunto.appunto_righe.per_libro_id
      = render 'appunto_righe/appunto_riga_small', :appunto_riga => a
    %tr
      %td
      %td.riga_quantita.totale= appunto.totale_copie
      %td
      %td
      %td
      %td.riga_importo.totale= h (number_to_currency appunto.totale_importo)
      %td
      %td
      %td
.appunto_righe_sep
    