ul {
  margin: 4px 0;
  padding-left: 17px;
}

ul.horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.horizontal li {
  margin: 0;
  padding: 0;
  float: left;
	list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}

#scuola .nav {
  padding: 0 8px;
  margin: 0;
  height: 35px;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border: solid 1px #BBB;
  border-bottom-color: #AAA;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
  background: -moz-linear-gradient(top,  #EEE, #CCC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#CCC');
}

#scuola .nav li {
  margin: 0 6px;
  margin-top: 9px;
}

#scuola .nav li a {
  color: #393939;
  padding: 5px 8px;
  padding-bottom: 10px;
}

#scuola .nav li a.selected {
  border: solid 1px #CCC;
  border-bottom: none;
  background-color: #F5F5F5;
  color: #555;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  cursor: default;
}

#scuola .nav li a.selected:hover {
  text-decoration: none;
}

#scuola .nav .previous, #scuola .nav .next {
  float: right;
}

#scuola .nav_section {
  background-color: #F5F5F5;
  border: solid 1px #BBB;
  border-top: none;
  padding: 10px 20px;
  position: relative;
}

#scuola .nav_section .progress {
  z-index: 100;
  position: absolute;
  top: 40px;
  left: 280px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.70);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  padding: 50px;
}

#scuola.legacy .nav_section .progress {
  left: 320px;
}

#scuola .asciicasts {
  padding-right: 20px;
}

#scuola .browse_code img {
  vertical-align: bottom;
}

#scuola .show_notes ul {
  margin-top: -10px; /* quick hack to move resources list under headline */
  padding-top: 0;
  margin-bottom: 20px;
}

#scuola .episode_actions {
  float: right;
}

#scuola .similar {
  margin-top: 15px;
}

#scuola .similar .episode:last-child {
  border-bottom: none;
}
