#sidebar ul {
  margin: 0;
  padding: 0;
}

#sidebar li {
  background: url("../../images/sidebar-separator.png") no-repeat scroll right bottom transparent;
  cursor: pointer;
  list-style: none outside none;
  padding: 0 0 2px;
}
#sidebar {
  float:left;
  font-size:14px;
  width:200px;
}
#sidebar .search-container {
  background-attachment:initial;
  background-clip:initial;
  background-color:#FFFFFF;
  background-image:initial;
  background-origin:initial;
  background-position:initial initial;
  background-repeat:initial initial;
  border-bottom-color:#F3F1F1;
  border-bottom-left-radius:5px 5px;
  border-bottom-right-radius:5px 5px;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#F3F1F1;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#F3F1F1;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:#F3F1F1;
  border-top-left-radius:5px 5px;
  border-top-right-radius:5px 5px;
  border-top-style:solid;
  border-top-width:1px;
  height:22px;
  margin-bottom:0;
  margin-left:8px;
  margin-right:0;
  margin-top:10px;
  width:180px;
}
.search-container .magni-glass {
  border-right-color:initial;
  border-right-style:none;
  border-right-width:initial;
  float:left;
  height:22px;
  width:20px;
}
.magni-glass .magni-glass-icon {
  float:left;
  margin-left:4px;
  margin-top:5px;
}
.magni-glass #search_loader {
  float:left;
  margin-left:4px;
  margin-top:3px;
}
.search-container input {
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:none;
  background-origin:initial;
  background-position:initial initial;
  background-repeat:initial initial;
  border-bottom-style:none;
  border-color:initial;
  border-left-color:initial;
  border-left-style:none;
  border-left-width:initial;
  border-right-style:none;
  border-top-style:none;
  border-width:initial;
  color:#999999;
  display:block;
  float:left;
  font-size:12px;
  height:14px;
  outline-color:initial;
  outline-style:none;
  outline-width:initial;
  padding-bottom:4px;
  padding-left:4px;
  padding-right:4px;
  padding-top:4px;
  width:132px;
}
.search-container .typing {
  color:#545454;
}
.search-container .search-back {
  cursor:pointer;
  float:right;
  height:20px;
  margin-top:1px;
}
#search_notes_ctnr {
  color:#777777;
  float:left;
  font-size:11px;
  margin-bottom:20px;
  margin-left:0;
  margin-right:0;
  margin-top:5px;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
  padding-top:5px;
  width:170px;
}
#search_notes_ctnr label {
  cursor:pointer;
}
#checkbox_search_notes {
  margin-bottom:0;
  margin-left:0;
  margin-right:5px;
  margin-top:1px;
  width:10px;
}
#sidebar h2 {
  color:#8C7537;
  font-family:Georgia;
  font-style:italic;
  font-weight:normal;
  padding-bottom:9px;
  padding-left:15px;
  padding-right:0;
  padding-top:16px;
}
#sidebar h2 a {
  color:#8C7537;
}
#sidebar h2 div {
  height:14px;
  overflow-x:hidden;
  overflow-y:hidden;
  width:160px;
}
#sidebar .gear {
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:-679px -442px;
  background-repeat:no-repeat no-repeat;
  float:right;
  height:15px;
  margin-right:5px;
  width:15px;
}
#sidebar .gear:hover {
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:-2px -442px;
  background-repeat:no-repeat no-repeat;
  float:right;
  height:15px;
  margin-right:5px;
  width:15px;
}
#sidebar li .active {
  background-color:#FFFFFF;
  background-image:none;
  border-bottom-color:#CBCBCB;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#CBCBCB;
  border-left-style:solid;
  border-left-width:0;
  border-right-color:#CBCBCB;
  border-right-style:solid;
  border-right-width:0;
  border-top-color:#CBCBCB;
  border-top-style:solid;
  border-top-width:1px;
  font-weight:bold;
  margin-bottom:-1px;
  margin-left:0;
  margin-right:0;
  margin-top:-2px;
  // padding-bottom:1px;
  // padding-left:0;
  // padding-right:0;
  // padding-top:1px;
}
#sidebar .filters li:hover, #sidebar .labels li:hover, #sidebar .collaborators li:hover {
  background-attachment:initial;
  background-clip:initial;
  background-color:white;
  background-image:initial;
  background-origin:initial;
  background-position:initial initial;
  background-repeat:initial initial;
  cursor:pointer;
}
#sidebar .ppn-more li:hover {
  background-attachment:initial;
  background-clip:initial;
  background-color:#ECF4FA;
  background-image:initial;
  background-origin:initial;
  background-position:initial initial;
  background-repeat:initial initial;
  border-bottom-style:none;
  border-color:initial;
  border-left-style:none;
  border-right-style:none;
  border-top-style:none;
  border-width:initial;
}
#sidebar .filters li.add:hover, #sidebar .labels li.add:hover, #sidebar .collaborators li.add:hover {
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:none;
  background-origin:initial;
  background-position:initial initial;
  background-repeat:initial initial;
  border-bottom-style:none;
  border-color:initial;
  border-left-style:none;
  border-right-style:none;
  border-top-style:none;
  border-width:initial;
  text-decoration:underline;
}
#sidebar .filters li .navigation-loader {
  display:block;
  float:left;
  margin-left:-21px;
  margin-top:4px;
}
#sidebar .labels li .navigation-loader {
  display:block;
  float:left;
  position:absolute;
  top:0;
}
#sidebar li a {
  color:#545454;
  display:block;
  height:24px;
  line-height:24px;
  overflow-x:hidden;
  overflow-y:hidden;
  padding-bottom:0;
  padding-left:37px;
  padding-right:0;
  padding-top:0;
  position:relative;
}
#sidebar li a.active {
  color:#165586;
}
#sidebar li .counter {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/sidebar-counter.png);
  background-origin:initial;
  background-position:0 0;
  background-repeat:no-repeat no-repeat;
  color:#768395;
  display:none;
  font-size:11px;
  font-weight:bold;
  height:16px;
  line-height:16px;
  margin-bottom:0;
  margin-left:0;
  margin-right:8px;
  margin-top:4px;
  position:absolute;
  right:0;
  text-align:center;
  top:0;
  width:25px;
}
#sidebar li a.active .counter {
  display:block;
}
#sidebar ul.collaborators li a {
  padding-left:38px;
}
#sidebar li a .admin {
  color:#8C7537;
  font-size:7pt;
}
#sidebar .hot-tasks {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:-663px -39px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .starred {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:-663px -78px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .late {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:-663px -118px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .today {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:-663px -678px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .custom {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:-663px -719px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .recipient {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:-663px -757px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .responsible {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:-663px -797px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .delegated {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:-663px -837px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .newtasks {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/newtasks_inactive.png);
  background-origin:initial;
  background-position:16px 5px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .mytasks {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:-663px -877px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .teamtasks {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:-663px -917px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .archived {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:-663px -957px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .active .hot-tasks {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:14px -39px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .active .starred {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:14px -78px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .active .late {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:14px -118px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .active .recipient {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:14px -757px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .active .today {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:14px -678px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .active .responsible {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:14px -797px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .active .custom {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:14px -719px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .active .delegated {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:14px -837px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .active .newtasks {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/newtasks_active.png);
  background-origin:initial;
  background-position:16px 5px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .active .mytasks {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:14px -877px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .active .teamtasks {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:14px -917px;
  background-repeat:no-repeat no-repeat;
}
#sidebar .active .archived {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:14px -957px;
  background-repeat:no-repeat no-repeat;
}
#sidebar li a.active {
  background-position-y:0;
}
#sidebar li.add {
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:none;
  background-origin:initial;
  background-position:initial initial;
  background-repeat:initial initial;
}
#sidebar li.add a {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/icons.png);
  background-origin:initial;
  background-position:16px -158px;
  background-repeat:no-repeat no-repeat;
  color:#718D9E;
  font-family:Georgia;
  font-size:11px;
  font-style:italic;
  overflow-x:hidden;
  overflow-y:hidden;
  width:152px;
}
#sidebar li.cancel a {
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:none;
  background-origin:initial;
  background-position:initial initial;
  background-repeat:initial initial;
  color:#718D9E;
  font-family:Georgia;
  font-size:11px;
  font-style:italic;
  padding-left:36px;
}
#sidebar .labels a, #sidebar .collaborators a {
  padding-bottom:0;
  padding-left:16px;
  padding-right:0;
  padding-top:0;
}
#sidebar .labels .more a, #sidebar .labels .add a, #sidebar .collaborators .more a, #sidebar .collaborators .add a {
  overflow-x:hidden;
  overflow-y:hidden;
  padding-bottom:0;
  padding-left:37px;
  padding-right:0;
  padding-top:0;
  width:152px;
}
#sidebar .labels .label-color {
  float:left;
  height:15px;
  margin-bottom:0;
  margin-left:0;
  margin-right:6px;
  margin-top:4px;
  position:relative;
  width:15px;
}
#sidebar .ws-settings-btn {
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:url(https://www.producteev.com/static/images/admin_btn.png);
  background-origin:initial;
  background-position:0 0;
  background-repeat:no-repeat no-repeat;
  bottom:0;
  height:36px;
  margin-left:-8px;
  position:fixed;
  width:207px;
  z-index:10;
}
#sidebar .ws-settings-btn:hover {
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:url(https://www.producteev.com/static/images/admin_btn.png);
  background-origin:initial;
  background-position:0 -36px;
  background-repeat:no-repeat no-repeat;
}
.ws-settings-btn a {
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:url(https://www.producteev.com/static/images/settings-icon.png);
  background-origin:initial;
  background-position:0 2px;
  background-repeat:no-repeat no-repeat;
  color:#FFFFFF;
  float:left;
  font-size:13px;
  font-weight:bold;
  line-height:20px;
  margin-top:12px;
  padding-left:20px;
  text-shadow:#333333 0 1px 0;
}
