%li
  %a{'href' => edit_appunto_path(appunto) }
    %h2= appunto.destinatario
    %p=  appunto.nome_scuola
    .ui-li-aside
      %h2= appunto.telefono
      %p=  appunto.note
  %a{'href' => "http://maps.google.it/maps?q=" + get_scuola_latlng(appunto.scuola_id), 'data-rel' => "dialog", 'data-transition' => "slideup"}