#appunti_navbar
  / = submit_tag "non completati", :new_stato => ""
  / = submit_tag "completati",     :new_stato => "X"
  / = submit_tag "in sospeso",     :new_stato => "P"
  = submit_tag "modifica selezionati"
  = submit_tag "stampa selezionati"
