#visible_taskslist_header.tasks-header
  .views-switcher
    .list.active
    .cal
  #bar-sortby.sort-by
    .sortby-label Ordina per
    #bar-sortby-text.criteria 
      = select( 'sort_by_select', [],  ['Data creazione', 'Data modifica', 'Scuola', 'Citta'], {}, { :index => nil })
  #tasklist_menu_contact
    %input{:type => 'checkbox', :value => 'attivi', :checked => true, :id => 'cb_attivi'}
    %label{ :for => 'cb_attivi'}
      %span Attivi
    %input{:type => 'checkbox', :value => 'in sospeso', :checked => true, :id => 'cb_in_sospeso'}
    %label{ :for => 'cb_in_sospeso'}
      %span In sospeso
    %input{:type => 'checkbox', :value => 'completati', :checked => true, :id => 'cb_completati'}
    %label{ :for => 'cb_completati'}
      %span Completati