%li
  %h2
    = link_to appunto.destinatario, edit_appunto_path(appunto)
  %p
    = appunto.scuola_nome_scuola
  .ui-li-aside
    %h2
      = appunto.telefono
    %p
      = appunto.note
  / = link_to 'edit appunto', edit_appunto_path(appunto), "data-icon" => "gear"