- title "Lista appunti"

- unless @appunti.nil?
  = form_tag appunti_path, :method => 'get', :id => "search_appunti" do
    - hidden_field_tag :direction, params[:direction]
    - hidden_field_tag :sort, params[:sort]
    /- hidden_field_tag :user_id, current_user.id
    %p
      = text_field_tag :search, params[:search]
      = submit_tag "Cerca", :name => nil
    .clear
#appunti
  = render :partial => 'appunti'

