#notice notice

<p>
  <b>Destinatario:</b>
  <%= @appunto.destinatario %>
</p>

<p>
  <b>Scuola:</b>
  <%= @appunto.scuola.nome_scuola %>
</p>

<p>
  <b>Note:</b>
  <%= @appunto.note %>
</p>

<p>
  <b>Telefono:</b>
  <%= @appunto.telefono %>
</p>

<p>
  <b>Stato:</b>
  <%= @appunto.stato %>
</p>

<p>
  <b>Scadenza:</b>
  <%= @appunto.scadenza %>
</p>


<%= link_to 'Edit', edit_appunto_path(@appunto) %> |
<%= link_to 'Back', :back %>
