body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
}
table {
  -webkit-border-horizontal-spacing:0;
  -webkit-border-vertical-spacing:0;
  border-collapse:collapse;
  margin-bottom:1.4em;
  width:100%;
}
fieldset, img {
  border-bottom-width:0;
  border-color:initial;
  border-left-width:0;
  border-right-width:0;
  border-style:initial;
  border-top-width:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
  font-style:normal;
  font-weight:normal;
}
ol, ul {
  list-style-image:initial;
  list-style-position:initial;
  list-style-type:none;
}
caption, th {
  text-align:left;
}
h1, h2, h3, h4, h5, h6 {
  font-size:100%;
  font-weight:normal;
}
q::before, q::after {
  content:'';
}
abbr, acronym {
  border-bottom-color:initial;
  border-bottom-style:dotted;
  border-bottom-width:1px;
  border-color:initial;
  border-left-width:0;
  border-right-width:0;
  border-style:initial;
  border-top-width:0;
}
body {
  font:normal normal normal 9pt/1.5em Arial, Helvetica, sans-serif;
  line-height:1em;
}
li ul, li ol {
  margin-bottom:0;
  margin-left:1.5em;
  margin-right:1.5em;
  margin-top:0;
}
ul, ol {
  line-height:20px;
  margin-bottom:1.5em;
  margin-left:1.5em;
  margin-right:1.5em;
  margin-top:0;
}
ul, ul li {
  list-style-type:disc;
}
ol, ol li {
  list-style-type:decimal;
}
dl {
  line-height:20px;
  margin-bottom:1.5em;
  margin-left:0;
  margin-right:0;
  margin-top:0;
}
dd {
  margin-left:1.5em;
}
th, td, caption {
  padding-bottom:4px;
  padding-left:5px;
  padding-right:10px;
  padding-top:4px;
}
sup, sub {
  line-height:0;
}
address {
  font-style:italic;
  margin-bottom:1.5em;
  margin-left:0;
  margin-right:0;
  margin-top:0;
}
del {
  text-decoration:line-through;
}
pre {
  margin-bottom:1.5em;
  margin-left:0;
  margin-right:0;
  margin-top:1.5em;
  white-space:pre;
}
a {
  color:#165586;
  text-decoration:none;
}
.sc::after {
  clear:both;
  content:'.';
  display:block;
  height:0;
  visibility:hidden;
}
h1, h2, h3, h4, h5, h6, b, strong, dfn, dl dt, th {
  font-weight:bold;
}
em, i, dfn, tfoot {
  font-style:italic;
}