
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

table.pretty, th, td 
  {
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
}

.pretty td, .pretty th {
  padding: 4px 10px;
}

.pretty .price {
  text-align: right;
}

.pretty th .current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/sort_up.gif);
}

.pretty th .desc {
  background-image: url(/images/sort_down.gif);
}


.pretty .list_line_even {
  background:   #FCFDFE;
}

.pretty .list_line_odd {
  background:   #F7F9FC;
}

.simple_form label {  
  float: left;  
  width: 100px;  
  text-align: right;  
  margin: 2px 10px;  
}  
  
.simple_form div.input {  
  margin-bottom: 10px;  
}  
  
.simple_form div.boolean, .simple_form input[type='submit'] {  
  margin-left: 120px;  
}  
  
.simple_form div.boolean label {  
  float: none;  
  margin: 0;  
} 
