.container {
  width: 710px;
}

body {
  background: #cff;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Styles for products/index */



#appunto {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 20px;
	border: 1px solid #ccc;
}

#destinatario {
	padding-top: 5px;
	padding-left: 5px;
}

#scuola {
	padding-left: 5px;
}

#titolo {
    text-align: center;
	margin-bottom: 40px;
}

#note {
	padding-left: 5px;
}


#footer {
	border-top: 1px solid #ccc;
	padding-top: 5px;
	padding-left: 3px;
	padding-right: 3px;
}

#status_image {
	float: right;
}

#edit_buttons {
	float: left;
}

#timestamp {
	float: right;
	padding-right: 5px;
}

#clear {
	clear: both;
}

table.scuola {
  	border: none;
width: 100%;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
}

.scuola tr td {
	border: none;
}

table.appunti {
 	border: none;
    width: 100%;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
}

.appunto {
  border-top: 1px solid #ccc; 	
  padding: 10px;
}

.float_left {
	float: left;
}


.status_image {
  vertical-align: bottom;
  width: 50px;
  float: left;
}


.edit_buttons img {
	width: 20;
	height: 20;
	padding: 5;
}

.timestamp {
  display: block;
  font-size: 80%;
  float: right;
  color: #666;
  vertical-align: bottom;
}


#appunto_list table {
        border-collapse: collapse;
}

#appunto_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#appunto_list .list_image {
  width:        60px;
  height:       70px;
}

#appunto_list .list_description {
  width:        60%;
}

#appunto_list .list_description dl {
        margin: 0;
}

#appunto_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#appunto_list .list_description dd {
        margin: 0;
}

#appunto_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}




