- if object.errors.any?
  #error_explanation
    %h2
      = "Impossibile salvare questo #{object.class.to_s.underscore.humanize}. #{pluralize(object.errors.count, "errore")}"
    %p
      ci sono problemi con i seguenti campi:
      %ul
        - object.errors.full_messages.each do |msg|
          %li=msg