#popin_bulk.radius-5
  %span.title-bulk Bulk actions
  %ul
    %li.all
      %span.bulk-select 
        Seleziona
        .cntr_all_none
          %a.notnone tutti
          %a.none nessuno
    %li.star
      %a
        .ctnr_label Starring
        .clear
    %li.done
      %a
        .ctnr_label Complete
        .clear
    %li.undone
      %a
        .ctnr_label Activate
        .clear
    %li.assign
      %a
        .ctnr_label Assign to
        .clear
    %li.setlabel
      %a
        #btn_pdf.ctnr_label PDF etichette
        .clear
    %li.delete
      %a
        .ctnr_label Delete
        .clear
    %li.workspace
      %a
        .ctnr_label Workspace
        .clear
  .bottom   

/ { :style => "display: none; "}