%div#popin_delete_bulk.pop-in.ppn-assign.corner-tl.ppn-confirmation
  %div.corner
    %div.inner.sc
      %p.confirmation
        Sei sicuro?
      %a.btn_blue
        %span
          Si
      %a.btn_red
        %span
          No