#popin_bulk.radius-5{ :style => 'display: none;' }
  %span.title-bulk Azioni
  %ul
    %li.all
      %span.bulk-select 
        Seleziona
        .cntr_all_none
          %a.notnone tutti
          %a.none nessuno
    %li.star
      %a
        #btn_in_sospeso.ctnr_label In sospeso
        .clear
    %li.done
      %a
        #btn_completa.ctnr_label Completato
        .clear
    %li.undone
      %a
        #btn_attiva.ctnr_label Attivo
        .clear
    %li.assign
      %a
        .ctnr_label Assign to
        .clear
    %li.setlabel
      %a
        #btn_pdf.ctnr_label PDF etichette
        .clear
    %li.delete
      %a
        #btn_elimina.ctnr_label Elimina
        .clear
    %li.workspace
      %a
        #btn_edit.ctnr_label Modifica
        .clear
  .bottom   
