#popin_label_colors.pop-in.ppn-assign.corner-tl.tasklist-labels
  .corner
  .inner.sc
    .current-assign.sc
      %p scegli un colore
  #popin_label_colors_colors
    .color.label-red        
    .color.label-yellow
    .color.label-grey
    .color.label-black
    .color.label-burgundy
    .color.label-pink
    .color.label-purple
    .color.label-lightpurple
    .color.label-bluegrey
    .color.label-blue
    .color.label-bluegreen
    .color.label-turquoise 
    .color.label-darkgreen
    .color.label-green
    .color.label-lime
  

/ #EF0436
/ #FFA301
/ #4D4D4D
/ #040404
/ #A61634
/ #C9349E
/ #9E34C9
/ #755d95
/ #495778
/ #1F3AC9
/ #2B8981
/ #0D6A91
/ #6D763E
/ #75BA1D
/ #A2BA1D