@import "blueprint";

$blue-background: #99D8F5;
$padding: 20px;

body {
  background-color: $blue-background;
}

#container {
  margin-bottom:1.5em;
  margin-left:auto;
  margin-right:auto;
  margin-top:1.5em;
}



#header {
  margin-top: 20px;
  #logo {
    @include column(9);
  }
  #main_menu {
    @include column(14);
  }
}