$main-color: #1E7B12;
// $blue-background: #99D8F5
// $padding: 20px
$blue-link: #3876BE;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin box-shadow($color) {
  -webkit-box-shadow: $color 0 0 3px;
  box-shadow: $color 0 0 3px;
}
