.vac_box {
  padding: 10px;
  border: green 2px solid;
}

.vac_title   {
  float: left;
  padding-top: 8px;
  width: 150px;
}

.vac_inputs {
  float: left;
  input {
    text-align: right;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

#appunto_destinatario,
#best_in_place_appunto_destinatario form input {
  text-transform:capitalize;
}

#appunto_nome_scuola,
#best_in_place_appunto_nome_scuola form input {
  text-transform:uppercase;
}

#appunto_submit {
  float:left;
  margin-left:22px;
  margin-top:6px;
}

#header_settings {
  width:450px;
}
.ui-menu-item {
  list-style-type: none;
}

#create-task-input .small {
  width:285px;
}

#create-task-input.small {
  width:295px;
}

#create-task-input.first {
  width:590px;
  float:left;
}

#create-task-input.tags {
  margin-top: 10px;
}

#task_create_btn_add {

}

.create_task_more {
  margin-top:10px;
  display:none;
}

.tasks .details .task-title {
  color:#224165;
  float:left;
  margin:0;
  padding-left:8px;
  width:120px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.tasks .details .labels {
  cursor:default;
  float:right;
  height:15px;
  line-height:15px;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:8px;
}

.button1 {
 
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    color: #FFF;
    padding: 5px 10px 5px 10px;
    border: solid 1px #CCC;
 
    background: #ba4742;
    text-shadow: 0px 1px 0px #000;
 
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
 
    box-shadow: 0 1px 3px #111;
    -moz-box-shadow: 3px 3px 1px #999;
    -webkit-box-shadow: 3px 3px 1px #999;
 
    cursor: pointer;
 
}
.button1:hover {
    background: #a33f3a;
}

.tasks .labels {
  float: right; 
}

.tasks .labels ul {
  float: right; 
  margin: 0;
  line-height:14px;
}
 
.tasks .labels ul li {
  color:#FFFFFF;
  cursor:pointer;
  display:inline-block;
  font-family:Arial;
  font-size:11px;
  letter-spacing:0.5px;
  line-height:12px;
  margin-bottom:0;
  margin-left:0;
  margin-right:5px;
  margin-top:0;
  padding-bottom:2px;
  padding-left:5px;
  padding-right:5px;
  padding-top:2px;
  
  background-attachment:initial;
  background-clip:initial;
  background-color:#75BA1D;
  background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#8CDC27), to(#75BA1D));
  background-origin:initial;
  background-position:initial initial;
  background-repeat:initial initial;
}   
