$main-color: #1E7B12;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin box-shadow($color) {
  -webkit-box-shadow: $color 0 0 3px;
  box-shadow: $color 0 0 3px;
}



#cloud {
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.6em;
  a {

  }
  
}
.css1 {
  font-size: 1.0em;
}
.css2 {
  font-size: 1.2em;
}
.css3 {
  font-size: 1.4em;
}
.css4 {
  font-size: 1.6em;
}



#create-appunto {
  border:  1px solid #A9C6D7;
  @include box-shadow(#B6B6B6);
  @include rounded-corners(7px);
  margin-bottom:25px;
  margin-top:10px;
  padding:4px;
}

.righe_small_list {
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  @include rounded-corners(5px);
  
  width: 75%;
  margin-left: 32px;
  margin-right: 33px;
  li {
    
  }
  td.riga_quantita {
    text-align: right;
  }
  td.riga_operazione {
    text-align: center;
  }
  td.riga_prezzo {
    text-align: left;
  }
  td.riga_importo {
    text-align: right;
  }
  td.totale {
    border-top: 2px double black;
  }  
}

#table_fabbisogno {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right:500px;
  table {
    
  }
}


.hidden {
  display:none;
}

.note-content { 
  div {
    float:left;
  }
  .riga_titolo {
    width: 150px;
  }
  .riga_quantita,
  .riga_prezzo {
    text-align:right;
    font-size: 18px;
    width: 60px;
    .best_in_place form input {
      width: 60px;
    }
  }
  .riga_prezzo {
    text-align:left;
    font-size: 18px;
    width: 45px;
    .best_in_place form input {
      width: 45px;
    }
  }
  .riga_operazione {
    padding-left: 10px;
    padding-right: 10px;
    text-align:center;
    font-size: 16px;
  }
  .riga_importo {
    text-align:right;
    font-size: 18px;
    width: 80px;
  }
  .riga_consegnato,
  .riga_pagato {
    padding-left: 10px;
  }
}


  


.delete img{
  // width: 55px; /* width of each image.*/
  // height: 60px; /* height of each image.*/
  // border:0;
  -webkit-transition:-webkit-transform 0.1s ease-in; /*animate transform property */
  -o-transition:-o-transform 0.1s ease-in; /*animate transform property in Opera */
}

.delete img:hover{
  -moz-transform:scale(1.2); /*scale up image 1.8x*/
  -webkit-transform:scale(1.2);
  -o-transform:scale(1.2);
}


.td_create_appunto_riga {
  float:right;
  width:638px;
  #appunto_riga_submit {
     margin-top:20px;
     float:left;
  }
  .field_inline {
    float:left;
    margin-top: 1em;
  }
}



input.qta {
  text-align: right;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  
  width:50px;
  margin-right:10px;
}

.titolo {
  width: 30%;
}

.field {
  margin-bottom:1em;
  margin-top:-0.5em;
  padding-bottom:0.5em;
  padding-left:0;
  padding-right:0;
  padding-top:0.5em;
  label {
    display:block;
    float:left;
    padding-top:0.2em;
    width:25%;
  }
}

.vac_box {
  padding: 10px;
  border: green 2px solid;
}

.vac_title   {
  float: left;
  padding-top: 8px;
  width: 150px;
}

.vac_inputs {
  float: left;
  input {
    text-align: right;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

#appunto_destinatario,
#best_in_place_appunto_destinatario form input {
  text-transform:capitalize;
}

#appunto_nome_scuola,
#best_in_place_appunto_nome_scuola form input {
  text-transform:uppercase;
}

#appunto_submit {
  float:right;
  margin-left:22px;
  margin-top:6px;
}

#header_settings {
  width:450px;
}
.ui-menu-item {
  list-style-type: none;
}

#create-task-input .small {
  width:285px;
}

#create-task-input.small {
  width:295px;
}

#create-task-input.first {
  width:590px;
  float:left;
}

#create-task-input.tags {
  margin-top: 10px;
}

#task_create_btn_add {

}

.create_task_more {
  margin-top:10px;
  display:none;
}

.tasks .details .task-title {
  color:#224165;
  float:left;
  margin:0;
  padding-left:8px;
  width:120px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.tasks .details .labels {
  cursor:default;
  float:right;
  height:15px;
  line-height:15px;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:8px;
}

.button1 {
 
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    color: #FFF;
    padding: 5px 10px 5px 10px;
    border: solid 1px #CCC;
 
    background: #ba4742;
    text-shadow: 0px 1px 0px #000;
 
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
 
    box-shadow: 0 1px 3px #111;
    -moz-box-shadow: 3px 3px 1px #999;
    -webkit-box-shadow: 3px 3px 1px #999;
 
    cursor: pointer;
 
}
.button1:hover {
    background: #a33f3a;
}

.tasks .labels {
  float: right; 
}

.tasks .labels ul {
  float: right; 
  margin: 0;
  line-height:14px;
}
 
.tasks .labels ul li {
  color:#FFFFFF;
  cursor:pointer;
  display:inline-block;
  font-family:Arial;
  font-size:11px;
  letter-spacing:0.5px;
  line-height:12px;
  margin-bottom:0;
  margin-left:0;
  margin-right:5px;
  margin-top:0;
  padding-bottom:2px;
  padding-left:5px;
  padding-right:5px;
  padding-top:2px;
  
  background-attachment:initial;
  background-clip:initial;
  background-color:#75BA1D;
  background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#8CDC27), to(#75BA1D));
  background-origin:initial;
  background-position:initial initial;
  background-repeat:initial initial;
}   
