@import "mixins";
@import 'partials/scuole';
@import "compass/css3/transform";
@import "compass/utilities/lists/horizontal-list";
@import "compass/css3/inline-block";


#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
  }
  p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
  }
  ul li {
    font-size: 12px;
    list-style: square;    
  }
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}  


div#map_directions {
  width: 240px;
  float: left;
  margin-left: 10px;
}

div#map,
div#map_appunti {
  display: none;
  width: 500px;
  height: 350px;
}

#loading {
  padding: 10px 0 10px 0;
  width: auto;
  color: #FFF;
  font-size: 15px;
  font-style: bold;
  text-align: center;
  background-color: black;
}

div.growlUI { background: url(check48.png) no-repeat 10px 10px }
div.growlUI h1, div.growlUI h2 {
	color: white; padding: 5px 5px 5px 75px; text-align: left
}

.right {
  text-align: right;
}
.left {
  float: left;
}

#cloud {
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.6em;
}
.css1 {
  font-size: 1.0em;
}
.css2 {
  font-size: 1.2em;
}
.css3 {
  font-size: 1.4em;
}
.css4 {
  font-size: 1.6em;
}



#create-appunto {
  border:  1px solid #A9C6D7;
  @include box-shadow(#B6B6B6);
  @include rounded-corners(7px);
  margin-bottom:25px;
  margin-top:10px;
  padding:4px;
}

.appunto_righe_list {
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  @include rounded-corners(7px);
  width: 60%;
  margin-left: 32px;
  margin-right: 33px;
  
  table {
    tr {
      color: black;
      line-height: 18px;
    }

    td.riga_quantita {
      text-align: right;
    }
    td.riga_operazione {
      text-align: center;
    }
    td.riga_prezzo {
      text-align: left;
    }
    td.riga_importo {
      text-align: right;
    }
    td.totale {
      border-top: 2px double black;
    }  
  }
}

.appunto_righe_sep {
  height: 10px;
  border-bottom: 1px solid #E6E6E6;
}

#table_fabbisogno {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right:500px;
  table {
    
  }
}


.hidden {
  display:none;
}

.note-content { 
  div {
    float:left;
  }
  .riga_titolo {
    width: 150px;
  }
  .riga_quantita,
  .riga_prezzo {
    text-align:right;
    font-size: 18px;
    width: 60px;
    .best_in_place form input {
      width: 60px;
    }
  }
  .riga_prezzo {
    text-align:left;
    font-size: 18px;
    width: 45px;
    .best_in_place form input {
      width: 45px;
    }
  }
  .riga_operazione {
    padding-left: 10px;
    padding-right: 10px;
    text-align:center;
    font-size: 16px;
  }
  .riga_importo {
    text-align:right;
    font-size: 18px;
    width: 80px;
  }
  .riga_consegnato,
  .riga_pagato {
    padding-left: 10px;
  }
}



.classe {
  .delete a {
    display:none;
  }
  &:hover .delete a {
    display: block;
  } 
}
  
.delete a {
  padding-bottom:0;
  margin-left:20px;
  padding-top:0;
  background-attachment:initial;
  background-clip:initial;
  background-image:url('../../images/td-strip.png');
  background-color:transparent;
  background-origin:initial;
  background-repeat: no-repeat;
  background-position:0 -24px;
  float:right;
  height:12px;
  width:11px;
  color:#666666;
  text-indent: -19999px;
  &:hover {
    cursor:pointer;
    background-position:0 -36px;
    color:#FD5C5C;
    @include scale(1.5);
  }
}



#toolbar_show.header {
  background-color:#F8F8F8;
  border-border: 1px solid #F7F6F6;
  @include border-top-right-radius(8px);
  height:25px;
  padding-bottom:0;
  padding-left:10px;
  padding-right:10px;
  padding-top:0;
  a {
    color:inherit;
    font-weight:bold;
    padding-left:15px;
    text-transform:uppercase;    
  }
  // input {
  //   background-color:none;
  //   font-weight:bold;
  //   padding-left:15px;
  //   text-transform:uppercase;
  // }
  > div {
    padding-bottom:0;
    margin-left:20px;
    padding-top:0;
    background-attachment:initial;
    background-clip:initial;
    background-image:url('../../images/td-strip.png');
    background-color:transparent;
    background-origin:initial;
    background-repeat: no-repeat;
    height:12px;
    margin-top:8px;
    color:#666666;
    &:hover {
      @include scale(1.1);
      cursor:pointer;
    }
  }
  .back {
    margin-left: 0;
    background-position:0 0;
    float:left;
    &:hover {
      background-position:0 -12px;
      color:#4888B6;
      
    }
  }
  .submit {
    margin-left: 0;
    background-position:0 0;
    float:right;
    &:hover {
      background-position:0 -12px;
      color:#4888B6;
      
    }
  }
  .delete {
    background-position:0 -24px;
    float:right;
    &:hover {
      background-position:0 -36px;
      color:#FD5C5C;

    }
  }
  .edit {
    background-position:0 -48px;
    float:right;
    &:hover {
      background-position:0 -60px;
      color:#4888B6;

    }
  }
  .new {
    background-position:0 -72px;
    float:right;
    &:hover {
      background-position:0 -84px;
      color:#4888B6;

    }
  }
  .print {
    background-position:0 -72px;
    float:right;
    &:hover {
      background-position:0 -84px;
      color:#4888B6;

    }
  }
}





.td_create_appunto_riga {
  float:right;
  width:638px;
  #appunto_riga_submit {
     margin-top:20px;
     float:left;
  }
  .field_inline {
    float:left;
    margin-top: 1em;
  }
}



input.qta {
  text-align: right;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  
  width:50px;
  margin-right:10px;
}

.titolo {
  width: 30%;
}

.titolo select {
  width: 190px;
  margin-right: 10px;
}

form .field {
  margin-bottom:1em;
  margin-top:-0.5em;
  padding-bottom:0.5em;
  padding-left:0;
  padding-right:0;
  padding-top:0.5em;
  label {
    display:block;
    float:left;
    padding-top:0.2em;
    width:25%;
  }
}

form .actions {
  float: right;
}

.vac_box {
  padding: 10px;
  border: green 2px solid;
}

.vac_title   {
  float: left;
  padding-top: 8px;
  width: 150px;
}

.vac_inputs {
  float: left;
  input {
    text-align: right;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

#appunto_destinatario,
#best_in_place_appunto_destinatario form input {
  text-transform:capitalize;
}

#appunto_nome_scuola,
#best_in_place_appunto_nome_scuola form input {
  text-transform:uppercase;
}

// #appunto_submit {
//   float:right;
//   margin-left:22px;
//   margin-top:6px;
// }

#header_settings {
  width:450px;
}
.ui-menu-item {
  list-style-type: none;
}

#create-task-input .small {
  width:280px;
}

#create-task-input.small {
  width:280px;
}

#create-task-input.first {
  width:590px;
  float:left;
}

#create-task-input.tags {
  margin-top: 10px;
}

#task_create_btn_add {

}

.create_task_more {
  margin-top:10px;
  display:none;
}



.button1 {
 
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    color: #FFF;
    padding: 5px 10px 5px 10px;
    border: solid 1px #CCC;
 
    background: #ba4742;
    text-shadow: 0px 1px 0px #000;
 
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
 
    box-shadow: 0 1px 3px #111;
    -moz-box-shadow: 3px 3px 1px #999;
    -webkit-box-shadow: 3px 3px 1px #999;
 
    cursor: pointer;
 
}
.button1:hover {
    background: #a33f3a;
}

.tasks .labels {
  float: right; 
}

.tasks .labels ul {
  float: right; 
  margin: 0;
  line-height:14px;
}

.tasks .labels ul li {
  color:#FFFFFF;
  cursor:pointer;
  display:inline-block;
  font-family:Arial;
  font-size:11px;
  letter-spacing:0.5px;
  line-height:12px;
  margin-bottom:0;
  margin-left:0;
  margin-right:5px;
  margin-top:0;
  padding-bottom:2px;
  padding-left:5px;
  padding-right:5px;
  padding-top:2px;
  
  @include rounded-corners(2px);
  
  background-attachment:initial;
  background-clip:initial;
  background-color:#1F3AC9;
  background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#4962E5), to(#1F3AC9));
  background-origin:initial;
  background-position:initial initial;
  background-repeat:initial initial;
  
  a {
    color: #ffffff;
  }
}
 
// .tasks .labels ul li {
//   color:#FFFFFF;
//   cursor:pointer;
//   display:inline-block;
//   font-family:Arial;
//   font-size:11px;
//   letter-spacing:0.5px;
//   line-height:12px;
//   margin-bottom:0;
//   margin-left:0;
//   margin-right:5px;
//   margin-top:0;
//   padding-bottom:2px;
//   padding-left:5px;
//   padding-right:5px;
//   padding-top:2px;
//   
//   background-attachment:initial;
//   background-clip:initial;
//   background-color:#75BA1D;
//   background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#8CDC27), to(#75BA1D));
//   background-origin:initial;
//   background-position:initial initial;
//   background-repeat:initial initial;
// }   


.notice {
  // position: absolute;
  // z-index: 6001;
  // top: 0;
  // left: 0;
  // right: 0;
  // background: #fde073;
  // text-align: center;
  // line-height: 2.5;
  // overflow: hidden; 
  // @include box-shadow(black 0 0 5px);
  
  @include rounded-corners(7px);
  @include box-shadow(#1D1D1D 2px 2px 4px);
  background-color:#5987A0;
  background-image:url('../../images/notice-bkg.png');
  background-position:50% 100%;
  background-repeat:repeat no-repeat;
  color:#FFFFFF;
  margin-bottom:15px;
  padding-bottom:8px;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  a {
    color:#FFFFFF;
    text-decoration:underline;
  }
  em {
    @include rounded-corners(3px);
    padding-bottom:3px;
    padding-left:3px;
    padding-right:3px;
    padding-top:3px;
  }
  h3 {
    background-image:url('../../images/notice-icon-35x35.png');
    background-position:0 0;
    background-repeat:no-repeat no-repeat;
    line-height:30px;
    padding-left:35px;
    padding-top:1px;
  }
}


.notice.alert {
  background-color:#A11C39;
  background-image:url('../../images/notice-error-bkg.png');
  em {
    background-color:#D07872;
    color:#40111F;
  }
  h3 {
    background-image:url(https://api.heroku.com/images/notice-error-icon-35x35.png);
    background-position:0 0;
    background-repeat:no-repeat no-repeat;
    padding-left:40px;
  }
}
.notice.success {
  background-color:#7C984C;
  background-image:url('../../images/notice-success-bkg.png');
  em {
    background-color:#D07872;
    color:#40111F;
  }
  h3 {
    background-attachment:initial;
    background-clip:initial;
    background-color:initial;
    background-image:none;
    background-origin:initial;
    background-position:initial initial;
    background-repeat:initial initial;
    line-height:24px;
    padding-left:10px;
  }
}

#fattura_info {
  margin-top: 20px;
  float: left;
  padding: 5px;
  border:  1px solid #A9C6D7;
  @include box-shadow(#B6B6B6);
  @include rounded-corners(5px);
  dl {
    clear: both;
  }

  dt {
    float: left;
    font-weight: bold;
    text-align: right;
    width: 120px;
  }

  dd {
    margin-left: 125px;
  }

  dd p:first-child {
    margin-top: 0;
  }

  dd, dt {
    // padding-top: 20px;
  }
}

#fattura_destinatario {
  margin-top: 20px;
  float: right;
  padding: 5px;
  border:  1px solid #A9C6D7;
  @include box-shadow(#B6B6B6);
  @include rounded-corners(5px);
  dl {
    clear: both;
  }

  dt {
    float: left;
    font-weight: bold;
    text-align: right;
    width: 120px;
  }

  dd {
    margin-left: 125px;
  }

  dd p:first-child {
    margin-top: 0;
  }

  dd, dt {
    // padding-top: 20px;
  }
}


#fattura_righe {
  margin-top: 20px;
  padding: 5px;
  border:  1px solid #A9C6D7;
  @include box-shadow(#B6B6B6);
  @include rounded-corners(5px);
  
}

#mappa_scuola {
  // display: none;
  width: 300px;
  height:250px;
  float: right;
  margin-right: 20px;
  border: 1px solid #CCCCCC;
  padding: 10px;
  @include rounded-corners(5px);
}

#td_libro_info {
  background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#FEFEFE), to(#F9F9F9));
  border-bottom: 1px solid #F0F0F0;
  border-top: 1px solid #EEEDED;
  padding-bottom:20px;
  padding-top:20px;
  
  #libro_img_container {
    float:left;
    margin-left: 20px;
    margin-right: 20px;
    img {
      width: 100px;
      height: 140px;
    }
  }
  .info-container {
    float:left;
    width:500px;
  }
}

#td_scuola_info {
  background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#FEFEFE), to(#F9F9F9));
  border-bottom: 1px solid #F0F0F0;
  border-top: 1px solid #EEEDED;
  padding-bottom:20px;
  padding-top:20px;
  
  #scuola_img_container {
    float:left;
    margin-left: 20px;
    margin-right: 20px;
    img {
      width: 100px;
      height: 140px;
    }
  }
  .info-container {
    float:left;
    width:500px;
  }
}

td.t-right,
th.t-right {
  text-align: right;
}

td.t-center,
th.t-center {
  text-align: center;
}

td.t-scuola {
	width: 200px;
}

table {
  border: #cccccc 1px solid;
  @include rounded-corners(5px);
  // margin: 20px;
}

table thead tr {
  background: #cccccc;
}

table thead tr th{
  margin-left: 3px;
  margin-right: 3px;
}

tr.scolastico {
  font-size: bigger;
  background: yellow;
}

.latitude_location {
  text-align: center;
}

#giro {
  h1 {
    line-height: 2em;
    font-size: 1.5em;
  }
  ul, ul li {
    list-style-type: none;
  }

  .adozioni_scuola {
    width: 500px;
    border: solid 1px black;
    padding: 3px;
    li {
      padding: 5px;
      .titolo {
        width: 250px;
        float:left;
      }
      .classe {
        width: 70px;
        float: left;
        text-align: left;
      }
    }
  } 
}

.s_giro {
  
  float: right;
  @include rounded_corners(7px);
  padding: 0 10px 0 10px;
  color: white;
  font-style: bold;
  background-color: red;
  
}
.s_adozioni {
  
  float: right;
  @include rounded_corners(7px);
  padding: 0 10px 0 10px;
  color: white;
  font-style: bold;
  background-color: green;
  
}
.s_appunti {
  
  float: right;
  @include rounded_corners(7px);
  padding: 0 10px 0 10px;
  color: white;
  font-weight: bold;
  background-color: blue;
  
}


#sidebar li.active a .counter {
  display:block;
}

.tasks,
.scuole_sort_list {
  .is_checked {
    background-color: rgb(246, 252, 201);
  }
}


#appunto_form {
  margin-top: 20px;
  width: 600px;
  margin: auto;
  p {
    margin-bottom: 10px;
  }
  .line {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 10px;
  }
  input[type=text],
  input[type=email],
  input[type=tel], 
  textarea,
  select { 
  	padding: 9px;
  	border: solid 1px #E5E5E5;
  	outline: 0;
  	font: normal 13px/100% Verdana, Tahoma, sans-serif;
  	width: 200px;
  	background: #FFFFFF url('bg_form.png') left top repeat-x;
  	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
  	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  }
  textarea { 
  	width: 400px;
  	max-width: 400px;
  	height: 150px;
  	line-height: 150%;
  }
  .token-input-list-facebook {
    
    padding: 9px;
  	border: solid 1px #E5E5E5;
  	
    width: 320px;
  	max-width: 320px;
  	
    background: #FFFFFF url('bg_form.png') left top repeat-x;
  	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
  	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  }
  .token_container ul {
    width: 320px;
    float: left;
  }
  .token_container label {
    float: left;
    margin-left: 10px;
  }
  ul.token-input-list-facebook li input {
    -webkit-appearance:caret;
    background: none;
    margin: 0;

    padding-bottom:3px;
    padding-left:8px;
    padding-right:8px;
    padding-top:3px;
    width: 100px;
  }
  input:hover, textarea:hover,
  input:focus, textarea:focus { 
  	border-color: #C9C9C9; 
  	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
  }

  label {
  	margin-left: 10px; 
  	margin-right: 10px; 
  	color: #999999; 
  }

  .submit input {
  	width: auto;
  	padding: 9px 15px;
  	background: #617798;
  	border: 0;
  	font-size: 14px;
  	color: #FFFFFF;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  }

  input.qta {
    width: 50px;
  }

  

  
}


#giro_form {
  form div label {
    display: block;
    float: left;
    width: 130px;
    padding: 3px 5px;
    margin: 0 0 5px 0;
    text-align: right;
  }

  input, select, textarea {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 100%;
    color: #000000;
  }

  form div select, form div textarea {
    width: 200px;
    padding: 1px 3px;
    margin: 0 0 0 0;
  }

  form div {
    clear: left;
    display: block;
    width: 354px;
    zoom: 1;
    margin: 5px 0 0 0;
    padding: 1px 3px;
  }


  form div input.inputText, form div input.inputPassword {
    width: 200px;
    padding: 1px 3px;
    margin: 0 0 0 0;
  }

  form div input.inputFile {
    width: 211px;
  }
  
}

// style=background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(246, 252, 201); background-position: initial initial; background-repeat: initial initial; 

#sidebar li a .counter {
  background-attachment:initial;
  background-clip:initial;
  background-color:transparent;
  background-image:url(https://www.producteev.com/static/images/sidebar-counter.png);
  background-origin:initial;
  background-position:0 0;
  background-repeat:no-repeat no-repeat;
  color:#768395;
  display:none;
  font-size:11px;
  font-weight:bold;
  height:16px;
  line-height:16px;
  margin-bottom:0;
  margin-left:0;
  margin-right:8px;
  margin-top:4px;
  position:absolute;
  right:0;
  text-align:center;
  top:0;
  width:25px;
}


#count-citta-list {
  ul {
    @include horizontal-list;
    li {
      display: inline-block;
    }
  }
  .provincia {
    margin-bottom: 10px;
    font-size: 13px;
    padding: 5px;
  }
}
  ;