@import "blueprint";

//Recommended Blueprint configuration with scoping and semantic layout:
body.bp {
  @include blueprint-print(true); }

#sidebar { 
  display: none; 
}

#header,
#scuola_img_container {
  display: none;
}

#content {
  font-size: 16px;
}

#main {
  margin-left: -100px;
  width: 100%;
  #td_header {
    display: none; 
  }
}

#giro input[type=submit] {
  display:none;
}
#giro a {
  text-decoration:none;
  color: black;
}
#giro .adozioni_scuola {
  width: 500px;
}

#appunti {
	font-size: 16px;
	color: black;
	a {
		font-size: 16px;
	  text-decoration:none;
	  color: black;
	}
	span {
		font-size: 16px;
		color: black;
	}
	
}