#create-task {
    -moz-box-shadow: 0 0 3px #B6B6B6;
    border: 1px solid #A9C6D7;
    margin-bottom: 25px;
    margin-top: 10px;
    padding: 4px;
}
#create-task-input {
    background: url("../../images/create-task.png") repeat-x scroll 0 0 transparent;
    display: block;
}
#create-task-input .inner {
    background: url("../../images/create-task.png") no-repeat scroll 0 -40px transparent;
}
#create-task-input .input {
    background: url("../../images/create-task.png") no-repeat scroll right -80px transparent;
    height: 32px;
    padding: 8px 7px 0 10px;
}
#create-task-input .itext {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #506A7A;
    font: italic 16px Georgia;
    padding: 3px 0;
    width: 570px;
}
#create-task-input .add {
    float: right;
    text-transform: uppercase;
    width: 84px;
}
#create-task .actions {
    display: block;
    float: right;
    margin: 0;
    width: 99%;
}
#create-task .actions > li {
    display: block;
    float: left;
    height: 34px;
    list-style: none outside none;
    position: relative;
}
#create-task .actions span.assign-avatar {
    display: block;
    float: left;
    margin: 3px 6px 0 0;
}
#create-task .actions .assign-avatar img {
    height: 15px;
    width: 15px;
}
#create-task .actions li.user {
    float: none;
}
#create-task .actions > li.term {
    color: #718D9E;
    font: italic 14px/31px Georgia;
    height: 34px;
    padding: 0 10px 0 0;
}
#create-task .actions li.action > a {
    color: #135A8D;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    padding: 0 4px;
    text-transform: uppercase;
}
#create-task .actions li.action > a > span {
    background: url("../../images/icons.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    font-size: 10px;
    padding: 0 0 0 24px;
    width: 100%;
}
#create-task .actions li.assign a > span {
    background: none repeat scroll 0 0 transparent;
    padding-left: 0;
}
#create-task .actions li.timing > a > span {
    background-position: 0 -233px;
}
#create-task .actions li.set-label a .icon-label {
    background-position: 0 -272px;
}
#create-task .actions li.attach a > span {
    background-position: 0 -312px;
}
#create-task .actions li.attach {
    height: 34px;
    line-height: 0;
}
#create-task .actions li.attach object {
    margin-top: 1px;
}
#create-task .actions li.privacy a > span {
    background-position: 0 -353px;
}
#create-task .actions li.reset {
    background: none repeat scroll 0 0 transparent;
    float: right;
}
#create-task .actions li.reset a > span {
    background: none repeat scroll 0 0 transparent;
}
.tasks {
    margin: 0 0 15px;
}
.tasks li {
    list-style: none outside none;
    margin: 0;
    position: relative;
}
.group-title {
    color: #AAAAAA;
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;
    margin: 10px 0;
}
.subtitle {
    color: #7F7F7F;
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;
    margin: 10px 0 4px;
}
.tasks .subtitle {
    border-bottom: 1px solid #E6E6E6;
    border-width: 0 0 1px;
    padding: 7px 0;
}
.bulk .cm-tab {
    background: url("../../images/cm-task-list-bg-separator.png") no-repeat scroll 0 0 transparent;
    color: #8C7537;
    cursor: pointer;
    float: right;
    font-family: "arial";
    font-size: 12px;
    font-style: normal;
    height: 26px;
    line-height: 26px;
    padding: 0 20px;
    vertical-align: middle;
}
.cm-tab img {
    float: left;
    height: 14px;
    margin: 3px;
    width: 16px;
}
.bulk .cm-tab:hover {
    color: #000000;
}
#tasklist_menu_contact {
    float: right;
}
#tasklist_menu_contact .cm-tab {
    color: #9D763F;
    display: inline;
    float: left;
    font-family: "Arial";
    font-size: 12px;
    font-weight: normal;
    margin: 5px;
    padding: 0;
}
#tasklist_menu_contact .cm-tab span {
    float: left;
    line-height: 0.8em;
    margin: 5px;
}
.tasks.contacts .group-title {
    background: url("../../images/cm-task-list-bg.png") repeat-x scroll 0 0 transparent;
    color: #7F7F7F;
    display: block;
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;
    height: 26px;
    line-height: 26px;
    margin: 10px 0 0;
    padding-left: 10px;
    vertical-align: middle;
}
.tasks .task {
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 0 0 1px;
    height: 33px;
    line-height: 33px;
}
.tasks .first {
    border-top: 1px solid #E6E6E6;
}
.tasks .task-elt {
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 0 1px 0 0;
    float: left;
    height: 33px;
}
.tasks .checkbox {
    border-left: 1px solid #E6E6E6;
    line-height: 25px;
    overflow: hidden;
    text-align: center;
    width: 27px;
}
.tasks .checkbox label {
    background: none repeat scroll 0 0 #F8F4E8;
    display: block;
}
.tasks .handler a {
    background: url("../../images/task-handler.png") no-repeat scroll 4px 8px transparent;
    cursor: move;
    display: block;
    width: 17px;
}
.tasks .bulk {
    text-align: center;
    width: 32px;
}
.tasks .tasks-bulk-checkbox {
    cursor: pointer;
}
.tasks .read-only .tasks-bulk-checkbox {
    cursor: default;
}
ul.tasks.bulk .bulk {
    display: block;
}
.tasks .active .status {
    background: url("../../images/task-status.png") no-repeat scroll 7px 0 transparent;
    cursor: pointer;
}
.tasks .done .status {
    background: url("../../images/task-status.png") no-repeat scroll 7px -34px transparent;
    cursor: pointer;
}




.tasks .pending .status {
    background: url("../../images/task-status.png") no-repeat scroll 7px -68px transparent;
    cursor: pointer;
}

.tasks .status a {
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  display: block;
}





.tasks .starred .task-elt.star {
    background-image: url("../../images/taskslist/stars/stars.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #545454;
    cursor: pointer;
    font-size: 10px;
    height: 12px;
    line-height: normal;
    padding-top: 21px;
    text-align: center;
}
.tasks .not-starred .star {
    background: url("../../images/taskslist/stars/stars.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}
.tasks .read-only .bulk, .tasks .read-only .responsible, .tasks .read-only .deadline, .tasks .read-only .interview, .tasks .read-only .status, .tasks .read-only .star {
    background-color: #EFEFEF;
    cursor: default;
}
.tasks .read-only .details .workspace {
    color: #A3A3A3;
    cursor: default;
}
.tasks .read-only .responsible a.link {
    cursor: default;
}
.tasks .highlight {
    background-color: #F8F4E8;
}
.tasks .responsible a.link {
    cursor: pointer;
    display: block;
    height: 24px;
    overflow: hidden;
    padding: 9px 0 0;
    text-align: center;
}
.tasks .responsible a img {
    height: 16px;
    vertical-align: top;
    width: 16px;
}
.tasks .details {
    border: medium none;
    font-size: 14px;
    height: 33px;
    overflow: hidden;
    padding: 0 0;
    width: 485px;
}
.tasks .details .task-title {
    color: #224165;
    float: left;
    margin: 0 0 0 0;
    padding-left: 8px;
    white-space: nowrap;
    width: 250px;
}
.tasks .details .workspace {
    background: url("../../images/task-back-workspace.png") no-repeat scroll right center #EDF0F1;
    color: #526D89;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    max-width: 95px;
    overflow: hidden;
    padding: 0 29px 0 12px;
    text-transform: uppercase;
}
.tasks .details .workspace-bulk {
    background: url("../../images/task-back-workspace-over.png") no-repeat scroll right center #EDF0F1;
    color: #526D89;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    max-width: 95px;
    overflow: hidden;
    padding: 0 29px 0 12px;
    text-transform: uppercase;
}
.tasks .done .details .task-title {
    color: #A3A3A3;
    text-decoration: line-through;
}
.tasks .done .details .task-title {
    color: #A3A3A3;
    text-decoration: line-through;
}
.tasks .details .hot-task {
    background: url("../../images/icons.png") no-repeat scroll -1px -42px transparent;
    display: none;
    float: right;
    height: 16px;
    line-height: 16px;
    margin: 9px 0 0 0;
    vertical-align: top;
    width: 18px;
}
.tasks .hot .hot-task {
    display: block;
}
.tasks .details .labels {
    cursor: default;
    float: right;
    height: 15px;
    line-height: 15px;
    padding: 8px 0 0;
}
.tasks .note {
    background: url("../../images/task-back-note.png") no-repeat scroll 0 0 #F8F8F8;
    border: medium none;
    color: #ADBBC4;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 31px;
    padding: 0 0 0 1px;
    text-align: center;
    width: 35px;
}
.tasks .new-note .note {
    color: #224165;
}
.tasks .deadline {
    border-left: 1px solid #E6E6E6;
    color: #224165;
    cursor: pointer;
    float: right;
    font-size: 10px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    width: 70px;
}
.tasks .plan-now .deadline {
    color: #1E9476;
    font-size: 9px;
}
.tasks .late .deadline {
    color: #FF0000;
    font-size: 10px;
}
.tasks .done .deadline {
    color: #A3A3A3;
}
.tasks .repeating .deadline {
    background: url("../../images/repeating-deadline.png") no-repeat scroll 52px 12px transparent;
    padding-left: 9px;
    text-align: left;
    width: 61px;
}
.tasks .interviews .interview {
    display: block;
}
.tasks .interviews .deadline, .tasks .interview {
    display: none;
}
.tasks .interview {
    border-left: 1px solid #E6E6E6;
    color: white;
    cursor: pointer;
    float: right;
    font-size: 11px;
    font-weight: bold;
    height: 33px;
    text-align: center;
    text-transform: uppercase;
    width: 70px;
}
.tasks .pending {
    background: none repeat scroll 0 0 white;
    color: #96A5D1;
    line-height: 35px;
}
.tasks .booked {
    background: none repeat scroll 0 0 white;
    color: #A7C080;
    line-height: 16px;
    text-transform: none;
}
.tasks .none {
    background: none repeat scroll 0 0 white;
    color: #C9CED3;
    line-height: 35px;
}
.tasks-actions {
    margin: 25px 0 0;
}
.tasks-actions div.act {
    float: left;
    line-height: 27px;
    margin: 0 7px 0 0;
}
.tasks-actions .actions a.selection {
    float: left;
}
#tasks_actions_loader {
}
.tasks-actions .checkbox label {
    background: none repeat scroll 0 0 #F8F4E8;
    display: block;
    height: 27px;
    line-height: 31px;
    overflow: hidden;
    text-align: center;
    width: 27px;
}
.tasks-actions .term {
    color: #8E9EAE;
    font-family: Georgia;
    font-style: italic;
}
.tasks-actions .action a {
    background: url("../../images/tasks-actions.png") no-repeat scroll 0 0 transparent;
    color: #6C8197;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    margin: 2px 0 0;
    padding: 0 10px;
    width: 120px;
}
.tasks-actions .actions a {
    margin: 0 5px;
}
.tasks-actions .actions .starred {
    background-image: url("../../images/task-star.png");
    background-position: -1px -4px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 27px;
    width: 16px;
}
.tasks-actions .actions .non-starred {
    background-image: url("../../images/task-star.png");
    background-position: -1px -38px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 27px;
    width: 16px;
}
.tasks-actions .actions .active {
    background-image: url("../../images/task-status.png");
    background-position: -1px -4px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 27px;
    width: 16px;
}
.tasks-actions .actions .done {
    background-image: url("../../images/task-status.png");
    background-position: -1px -38px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 27px;
    width: 16px;
}
.tasks-actions .actions .assign {
    position: relative;
}
.tasks-actions .actions .assign img {
    height: 16px;
    width: 16px;
}
#tasks_actions_label {
    position: relative;
}
.tasks-actions .actions a.label {
    background-color: #C9CED3;
}
.tasks-actions .actions a.delete {
    -moz-background-inline-policy: continuous;
    background: url("../../images/icons.png") no-repeat scroll 0 -516px transparent;
    color: #CC0000;
    float: right;
    font-size: 10px;
    font-weight: bold;
    padding: 0 0 0 18px;
    text-transform: uppercase;
}
.tasks-actions .actions .set_dashboard {
    background: url("../../images/task-back-workspace.png") no-repeat scroll right center #EDF0F1;
    color: #526D89;
    float: left;
    font-size: 10px;
    font-weight: bold;
    margin-right: 0;
    padding: 0 18px 0 9px;
    text-transform: uppercase;
}
#tasks_actions_assign {
    margin: 3px 0 0;
}
#tasks_actions_label {
    margin: 6px 0 0;
}
#tasks_actions_delete {
    position: relative;
}
#tasks_actions_dsahboards {
    position: relative;
}
.activity-feed li a:hover, .tasks .details .task-title:hover {
    text-decoration: underline;
}
.tasks .status, .tasks .star, .tasks .responsible {
    position: relative;
    width: 32px;
}
#workspace_blocked {
    background: none repeat scroll 0 0 #FFEBE8;
    border: 1px solid #FF6600;
    line-height: 15px;
    margin: 10px 0 0;
    overflow: hidden;
    text-align: center;
}
#workspace_blocked_inner {
    padding: 7px 3px;
}