- title "About"

/ %ul{:class => "lista_scuole"}
/   - @scuole.each do |s|
/     %li
/       |
/       = s.nr_appunti
/       |
/       = link_to s.nome_scuola, scuola_path(s)

#appunti.left_appunti
  = render :partial => 'appunti/appunto', :collection => @appunti

#appunti.right_appunti
  = render :partial => 'appunti/appunto', :collection => Appunto.assegnato
  

