/ - title "About"

/ - content_for :search_bar do
/   #search_bar
/     - form_for @search, :url => about_path, :html => {:method => :get} do |f|
/       = f.label :destinatario_or_note_or_scuola_nome_scuola_or_scuola_citta_contains, "Cerca appunti..."
/       #field_cerca
/         = f.text_field :destinatario_or_note_or_scuola_nome_scuola_or_scuola_citta_contains
/       = f.label :scuola_citta_matches, "Citta"
/       #select_citta
/         = f.select(:scuola_citta_matches , get_citta_appunti.collect {|p| [p.citta]}, :include_blank => true)
/       .clear
/       = f.label :scuola_provincia_matches, "Provincia"
/       .right
/         = f.select(:scuola_provincia_matches , get_provincie_appunti.collect {|p| [p.provincia]}, :include_blank => true)
/       .clear
/       = f.label :stato_matches, "Stato"
/       .clear
/       = link_to 'clear', about_path
/       .right
/         = f.submit "Cerca", :disable_with => 'sto cercando...'
/       .clear


#calendar

#appunti.left_appunti
  #da_assegnare_size
    = @appunti.size
  #da_assegnare.connectedSortable
    = render :partial => 'appunti/appunto', :collection => @appunti

#appunti.right_appunti
  #assegnati_size
    = @appunti_assegnati.size
  #assegnati.connectedSortable
    = render :partial => 'appunti/appunto', :collection => @appunti_assegnati
       
			

