- title "Calendario"

= render :partial => 'shared/search_appunti'

  
#map_show_appunti
  = submit_tag "Mostra Mappa"


#dialog-modal
  #map_appunti.left
  #map_directions
    #markers_fit
      = submit_tag "Fit Bounds"
    #directions_panel
    

#appunti.left_appunti
  #da_draggare
    = render :partial => 'appunti/appunti' #, :collection => @appunti

#appunti.right_appunti
  #calendar
      