- title "Calendario"

#appunti.left_appunti
  #da_draggare
    = render :partial => 'appunti/appunto', :collection => @appunti

#appunti.right_appunti
  #print_calendar
    = link_to "Stampa Calendario"
  #calendar
      