- title "Calendario"

= render :partial => 'shared/search_appunti'

#appunti.left_appunti
  #da_draggare
    = render :partial => 'appunti/appunti' #, :collection => @appunti

#appunti.right_appunti
  #print_calendar
    = link_to "Stampa Calendario"
  #calendar
      