- title "What's up"

= Visita.where('visite.start >= ?', Time.at(1301346000)).where('visite.end <= ?', Time.at(1301522400)).to_sql
= render :partial => 'shared/search_appunti'

/ = render :partial => 'provincie'


= render :partial => 'appunti/appunti'

/ #giro
/   = current_user.appunti.con_recapito.per_destinatario.size
/   = render current_user.appunti.con_recapito.per_destinatario
  