- title "What's up"

= render :partial => 'search_appunti'
/ = render :partial => 'provincie'

#appunti_in_corso
  = render :partial => 'appunti/appunti'

#giro
  = Appunto.con_recapito.per_destinatario.size
  = render Appunto.con_recapito.per_destinatario
  