/ - title "What's up"


= render :partial => 'shared/search_appunti'

= render :partial => 'appunti/appunto_form'

#visible_taskslist_title.group-title Vendite

/ - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
/   = link_to tag.name, {:controller => :tags, :action => :appunti_cloud, :id => tag.name}, {:class => css_class}, :remote => true



#visible_taskslist_header.tasks-header
  .views-switcher
    .list.active
    .cal
  #bar-sortby.sort-by
    .sortby-label Ordina per
    #bar-sortby-text.criteria - Cliente
  #tasklist_menu_contact


/ #appunti_div
/   = form_tag edit_or_print_appunti_path, :method => :post, :id => "form_appunti" do
/     .autopagerize_page_element
/       %ul#appunti.tasks
/         - @appunti.each do |appunto|  
/           = render appunto
/           - unless appunto.appunto_righe.blank?
/             = render 'appunto_righe/appunto_righe', :appunto => appunto

= render :partial => 'appunti/appunti'
