/ - title "What's up"


= render :partial => 'shared/search_appunti'
= render :partial => 'appunti/appunto_form'

#visible_taskslist_title.group-title Vendite

= render :partial => 'appunti/appunti_header'
= render :partial => 'appunti/appunti', :locals => {:appunti => @appunti}

/ #appunti_div
/   = form_tag edit_or_print_appunti_path, :method => :post, :id => "form_appunti" do
/     .autopagerize_page_element
/       %ul#appunti.tasks
/         - @appunti.each do |appunto|  
/           = render appunto
/           - unless appunto.appunto_righe.blank?
/             = render 'appunto_righe/appunto_righe', :appunto => appunto
