/- title "Vendite"


= render :partial => 'shared/search_appunti'
= render :partial => 'appunti/appunto_form'

#visible_taskslist_title.group-title Vendite

= render :partial => 'appunti/appunti_header'
= render :partial => 'appunti/appunti', :locals => {:appunti => @appunti, :righe => false }
