- title @title

- tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
  = link_to tag.name, {:controller => :tags, :action => :appunti_cloud, :id => tag.name}, {:class => css_class}
%br



#table_fabbisogno
  %table
    %tr
      %th Titolo
      %th Quantità
    - @fabbisogno.each do |codice, titolo, quantita|
      %tr
        %td= link_to titolo, libro_url(codice)
        %td= quantita


= render 'appunti/appunti'

