<div class="clear"></div>

<ul id="scuole_sort_list"> 
  <%= paginate @scuole, :remote => true %>
  <div class="clear"></div>
  <% @scuole.each do |scuola| %>
    <li id="scuola_<%= scuola.id %>">
	   <span class="handle float_left">[drag]</span>
	   <div id="nome_scuola"class="float_left" ><%= link_to "#{scuola.nome_scuola} #{ scuola.citta}", scuola_path(scuola) %></div>  
       <div id="provincia" ><%= scuola.provincia %></div>   
    
	</li>
  <% end %>
</ul>