%li.scuola_item[scuola]
  / %span.handle
  /   = image_tag "sort_down.gif"
  #s_check
    = check_box_tag "scuola_ids[]", scuola.id, false, {:class => 'cb-element'}
  #s_nome_scuola
    = link_to scuola.nome_scuola , scuola_path(scuola)
    %br
    = scuola.citta
    / = hidden_field_tag 'lat_long',  scuola.lat_long
  #s_id
    = scuola.id
  .clear
