<% title "Lista scuole" %> 

<div class="clear"></div>

<ul id="scuole"> 
  <% @scuole.each do |scuola| %>
    <li id="scuola_<%= scuola.id %>">
	   <span class="handle float_left">[drag]</span>
	   <div id="nome_scuola"class="float_left" ><%= link_to "#{scuola.nome_scuola} #{ scuola.citta}", scuola_path(scuola) %></div>  
       <div id="provincia" ><%= scuola.provincia %></div>   
    
	</li>
  <% end %>
</ul>




<% content_for :javascript do %>
	<%= javascript_tag do %>
		// Sorting the list

		$(document).ready(function(){
			$('#scuole').sortable({
				axis: 'y',
				dropOnEmpty: false,
				handle: '.handle',
				cursor: 'crosshair',
				items: 'li',
				opacity: 0.4,
				scroll: true,
				update: function(){
					$.ajax({
						type: 'post',
						data: $('#scuole').sortable('serialize'),
						dataType: 'script', 
						complete: function(request){
							$('#scuole').effect('highlight');
						},
						url: '/scuole/sort'})
					}
				});
			});
	<% end %>
<% end %>
      
