= render :partial => 'shared/search_scuole'

- title "Lista scuole"

#map_show_scuole
  = submit_tag "Mostra Mappa"
#popin_show
  = submit_tag "Fit Bounds"



#directions_panel

.controlli
  %span
    %input.checkAll{ 'type' => "checkbox" }
    %b
      Seleziona tutti
  oppure
  %span
    %a.invertSelection
      Inverti Selezione

#scuole
  = render :partial => 'scuole'
	
