%header
  - logo  = image_tag("logo_todopropa.png", :alt => "Sample App", :class => "round")
  = link_to logo, root_path
  %nav.round
    %ul
      %li= link_to "Home", root_path
      %li= link_to "Scuole", scuole_path
      %li= link_to "Appunti", appunti_path