#tabs
  #icon_new_hidden.icon-new-hidden{ :style => "display: none; "}
    .bubble-left
    .bubble-centerNew
    .bubble-right
  .current_workspace.current-workspace
    .ws-title-container.div-xwidth-center
      %a.inner My Workspace
      %img.inner{ :alt => "Open", :src => "images/arrow_ws_name.png" }
